.header {

overflow: hidden;

background-color: #fff;

padding: 10px 10px;
border:50px;
position: fixed;

width: 100%;

}

/* Стиль ссылок шапки */

.header a {

float: left;

color: black;

text-align: left;

padding: 10px;

text-decoration: none;

font-family:courier;

font-size: 15px;

line-height: 25px;

border-radius: 0px;

}

/* Изменение цвета фона при наведении курсора */

.header a:hover {

background-color: #78A2B7;

color: white;

}

/* Стиль активной/текущей ссылки */

.header a.active {

background-color: #C0C0C0;

color: black;

}

/* Стиль ссылки логотипа */

.header a.logo {

font-size: 0px;

font-weight: none;

}

/* Сдвигаем секцию со ссылками вправо */

.header-right {

float: right;

}

/* Медиа-запрос для адаптивности – когда ширина

экрана 650px или меньше, ссылки будут друг над другом */

@media screen and (max-width: 650px) {

.header a {

float: none;

display: block;

text-align: right;

}

.header-right {

float: left;

}

}
